body, html {
    font-family:verdana;
    height: 100%
    font color="white"
}

/* Navigation Bar */
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
}

li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

  /* Landing Page Background */
.background {
  background-image: url("landing_bg.jpg");
  background-size: cover;
}

/* Box Around Header*/
.headerBox {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid grey;
    padding: 50px;
    margin: 20px;
    text-align: center;
}

/* Box Around Paragraph */
.bodyBox {
    background-color: lightgrey;
    width: 500px;
    border: 10px solid grey;
    padding: 10px;
    margin: 20px;
  }

/* Box Around Paragraph On Portfolio Page*/
.portBodyBox {
  background-color: lightgrey;
  width: 500px;
  border: 10px solid grey;
  padding: 10px;
  margin: 20px;
}

/* Box Around Paragraph on Professional Page */
.profBodyBox {
  background-color: lightgrey;
  width: 600px;
  border: 10px solid grey;
  padding: 10px;
  margin: 20px;
}

/* Box Around Index Paragraph */
.indexBodyBox {
  background-color: lightgrey;
  width: 500px;
  border: 10px solid grey;
  padding: 10px;
  margin: 20px;
}

/* Picture Of Me On Index */
.me {
    max-width:50%;
    max-height:50%;
    width: 300px;
    height: 500px;
}

/* GitHub Picture */
.github {
    display: block;
    float:right;
    max-width:50%;
    max-height:50%;
    width:500px;
    height:400px;
    background-color: lightgrey;
    border: 10px solid grey;
}

/* Boy Scout Picture */
.sss {
  display: block;
  float:right;
  max-width:50%;
  max-height:50%;
  width:500px;
  height:400px;
  background-color: lightgrey;
  border: 10px solid grey;
}

/* Resume On Professional Page */
.resume {
  background-color: lightgrey;
  border: 10px solid grey;
}